@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["PageName"] = "Add Film";
    ViewData["Title"] = "Add A Movie To The Collection";
}

@model MovieCollection.Models.Film;


<div class="container col-lg-6 my-4">
    <form asp-action="AddFilm" method="post">
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.Title)
            </div>
            <div class="col">
                @Html.EditorFor(f => f.Title)
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.Title)
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.Year)
            </div>
            <div class="col">
                @Html.EditorFor(f => f.Year)
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.Year, "")
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.Director)
            </div>
            <div class="col">
                @Html.EditorFor(f => f.Director)
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.Director)
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.Rating)
            </div>
            <div class="col">
                @Html.DropDownListFor(m => m.Rating, Html.GetEnumSelectList(typeof(RatingTypes)), "Please Choose a Rating")
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.Rating)
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.Edited)
            </div>
            <div class="col">
                @Html.EditorFor(f => f.Edited)
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.Edited)
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.LentTo)
            </div>
            <div class="col">
                @Html.EditorFor(f => f.LentTo)
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.LentTo)
            </div>
        </div>
        <div class="row my-2">
            <div class="col">
                @Html.LabelFor(f => f.Notes)
            </div>
            <div class="col">
                @Html.EditorFor(f => f.Notes)
            </div>
            <div class="col">
                @Html.ValidationMessageFor(f => f.Notes)
            </div>
        </div>
        <div class="row my-2">
            <div class="col"></div>
            <div class="col"><input type="submit" name="AddFilm" value="Add a Film" class="btn btn-primary" /></div>
            <div class="col"></div>
        </div>
    </form>
</div>