@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add A Movie To The Collection";
}

@model MovieCollection.Models.Film;

<form asp-action="AddFilm" method="post">
    <div class="container col-lg-6">
        <div class="row">
            @Html.LabelFor(f => f.Title)
            @Html.EditorFor(f => f.Title)
            @Html.ValidationMessageFor(f => f.Title)
        </div>
        <div class="row">
            @Html.LabelFor(f => f.Year)
            @Html.EditorFor(f => f.Year)
            @Html.ValidationMessageFor(f => f.Year, "")
        </div>
        <div class="row">
            @Html.LabelFor(f => f.Director)
            @Html.EditorFor(f => f.Director)
            @Html.ValidationMessageFor(f => f.Director)
        </div>
        <div class="row">
            @Html.LabelFor(f => f.Rating)
            @Html.DropDownListFor(m => m.Rating, Html.GetEnumSelectList(typeof(RatingTypes)))
            @Html.ValidationMessageFor(f => f.Rating)
        </div>
        <div class="row">
            @Html.LabelFor(f => f.Edited)
            @Html.EditorFor(f => f.Edited)
            @Html.ValidationMessageFor(f => f.Edited)
        </div>
        <div class="row">
            @Html.LabelFor(f => f.LentTo)
            @Html.EditorFor(f => f.LentTo)
            @Html.ValidationMessageFor(f => f.LentTo)
        </div>
        <div class="row">
            @Html.LabelFor(f => f.Notes)
            @Html.EditorFor(f => f.Notes)
            @Html.ValidationMessageFor(f => f.Notes)
        </div>
        <input type="submit" name="AddFilm" value="Add a Film" />
    </div>
</form>